extends ../layout

block content
    .main-content
        .container-fluid
            .row.vertical-center
                .col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                    form(action='/auth/login' method='post')
                        .panel.panel-default
                            .panel-body
                                h2.gold.font-scribble.text-center= title
                                - if(message.length > 0)
                                    .alert.alert-danger= message
                                .form-group.hidden
                                    label.f-color.light-gray Username
                                    input.form-control(type='text' name='username' value='1')
                                .form-group
                                    input.form-control(type='password' name='password' placeholder='Password' )
                                button.btn.btn-success(type='submit') Login


