- if(admin == true)
    .admintools.article.panel.panel-default.panel-content(ng-init='init()')
        h2.content-title Admin Tools
        hr
        h2.font-without-sun Hits: {{ hits }}
        h2 Status:&nbsp;
            button.btn(ng-click='toggleStatus()') {{ status }}
