- if(admin == true)
    .admintools.article.panel.panel-default.panel-content(ng-init='init()')
        h2.content-title Admin Tools
        hr
        h2.font-without-sun Hits: {{ hits }}
        hr
        h2.font-without-sun Music
        table.table.table-hover
            thead
                tr
                    th Name
                    th Request
            tbody
                tr(ng-repeat='request in music')
                    td {{request.name}}
                    td {{request.request}}
