.home.article(ng-init='init()')
 h1.content-title.text-center Count Down to Wedding
 hr
 .row.countDown
  .col-xs-2.col-xs-offset-1
   .countDown-label.text-center {months}
   .panel.panel-default
    .panel-body
     h5.month.countDown-h1.text-center
  .col-xs-2
   .countDown-label.text-center {days}
   .panel.panel-default
    .panel-body
     h5.day.countDown-h1.text-center
  .col-xs-2
   .countDown-label.text-center {hours}
   .panel.panel-default
    .panel-body
     h5.hour.countDown-h1.text-center
  .col-xs-2
   .countDown-label.text-center {minutes}
   .panel.panel-default
    .panel-body
     h5.min.countDown-h1.text-center
  .col-xs-2
   .countDown-label.text-center {seconds}
   .panel.panel-default
    .panel-body
     h5.sec.countDown-h1.text-center
