.home.article
 h1.content-title.text-center Count Down to Wedding
 hr
 .row(id='#countDown')
  .col-xs-2.col-xs-offset-1
   .countDown-label.text-center {months}
   .panel.panel-default
    .panel-body
     h1.month.countDown-h1.text-center
  .col-xs-2
   .countDown-label.text-center {days}
   .panel.panel-default
    .panel-body
     h1.day.countDown-h1.text-center
  .col-xs-2
   .countDown-label.text-center {hours}
   .panel.panel-default
    .panel-body
     h1.hour.countDown-h1.text-center
  .col-xs-2
   .countDown-label.text-center {minutes}
   .panel.panel-default
    .panel-body
     h1.min.countDown-h1.text-center
  .col-xs-2
   .countDown-label.text-center {seconds}
   .panel.panel-default
    .panel-body
     h1.sec.countDown-h1.text-center