.ourstory.article.panel.panel-default.panel-content(ng-init='init()')
 h1.content-title Our Story
 hr
 p Katie and Kyle started "dating" in jr. high on May 26th, 2008 during their 8th Grade trip to Washington D.C.&nbsp;
  img(id='firstPic' src='/images/ourstory/firstPic.JPG' height='200px' ng-click='picModal($event)')
  | Kyle was drawn to Katie's grace and poise when she walked into a sign while talking to him at the airport, and Katie was charmed when Kyle first texted her a poop emoji.
  | Their relationship continued to grow after starting high school. Together they stayed busy excelling in classes, playing sports, and&nbsp;
  img(id='prom' src='/images/ourstory/prom.jpg' height='200px' ng-click='picModal($event)')
  | volunteering. They also enjoyed playing together in orchestra and attending homecomings and proms. In 2012, Kyle and Katie graduated from Morton High School and parted ways as Kyle went to
  | Southern Illinois University in Carbondale, and Katie attended the University of Illinois in Urbana-Champaign. They have&nbsp;
  img(id='grad' src='images/ourstory/grad.JPG' height='200px' ng-click='picModal($event)')
  | maintained their long distance relationship with many skype dates and silly snapchats. In May of 2016, Kyle will graduate with a&nbsp;
  img(id='hiking' src='images/ourstory/hiking.JPG' height='200px' ng-click='picModal($event)')
  | bachelor's in Computer Science, and Katie will graduate with a bachelor's in Food Science and Human Nutrition with a concentration in Dietetics. Kyle plans to start working as a computer programmer,
  | while Katie will continue her education with graduate school and the dietetic internship, working toward becoming a dietitian. In their free time, the couple can be found outside hiking, camping, and
  | fishing, or inside cooking and watching Game of Thrones.