.registry.article
    h1.content-title Registry
    hr
    p Please find links below to our wedding registries at the following retail stores:
    .row
        .col-sm-12
            .thumbnail.hvr-glow
                a(href='http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542887716&pwsurl=' target='_blank')
                    img(src='/images/registry/bedbathbeyond.jpg')
        .col-sm-12
            .thumbnail.hvr-glow
                a(href='http://www.kohls.com/upgrade/gift_registry/kohlsgrw_home.jsp?section=list&listid=3119190&viewtype=listview&isfromsearch=true&fname=katie&lname=minesinger&regtype=registry.wedding,registry.baby,registry.splday' target='_blank')
                    img(src='/images/registry/kohls.jpg')