.rsvp.article.panel.panel-default.panel-content(ng-init='init()')
 h2.content-title RSVP
 hr
 p After receiving your formal invitation, please mail back your RSVP no later than June 1st. Do not hesitate to contact us if any issues arise.
 br
 p Please indicate with your name or intials which entree you would prefer: Top Sirloin, Italian Crusted Chicken Breast, Vegetarian, or Children's Meal (under age 12). Please also include any information related to dietary restrictions.