.thewedding.article
 h1.content-title The Wedding
 hr
 h2 Ceremony
 p Our ceremony will be held at Blessed Sacrament Church in Morton and will start tentatively at 2:00PM CST.
 .row
  .col-sm-12
   .thumbnail.hvr-glow
    a(href='http://bscmorton.org/' target='_blank')
     img(id='church' src='images/places/church.png' height='200px')
 p 225 East Greenwood Street, Morton, Illinois 61550
 br
 br
 h2 Reception
 p Our reception will be held at Metamora Fields Golf Club in Metamora and will start tentatively at 4:00PM CST.
 .row
  .col-sm-12
   .thumbnail.hvr-glow
    a(href='http://www.metamorafields.com/' target='_blank')
     img(id='reception' src='images/places/reception.jpg' height='200px')
 p 801 Progress Street, Metamora,Illinois 61548