.travel.article.panel.panel-default.panel-content(ng-init='init()')
 h1.content-title Travel and Accommodations
 hr
 p To our out-of-town guests, we are so honored that you are making the trip to share our special day with us. Please find information below regarding hotel blocks and click the pictures to view the hotel websites.
 //br
 //h2 Flight Information:
 //br
 //br
 br
 h2 Embassy Suites East Peoria
 p 100 Conference Center Drive, East Peoria, Illinois 61611
 .row
  .col-sm-12
   .thumbnail.hvr-glow
    a(href='http://embassysuites3.hilton.com/en/hotels/illinois/embassy-suites-by-hilton-east-peoria-riverfront-hotel-and-conference-center-PIAESES/maps-directions/index.html' target='_blank')
     img(id='embassy' src='images/places/embassy.jpg' height='200px')

 br
 p Please book before Friday, June 17th at 5:00PM CST to receive the following discounted rates for Friday 7/8 and Saturday 7/9:
 p $129.00/night for a Two Room King Suite
 p $139.00/night for a Two Room Suite with Double Beds
 br
 p Call 1-800-EMBASSY or 1-309-694-0200 to book reservations, and remember to mention the Minesinger/Walter Wedding Block to receive the special rate.
 br
 br
 br
 h2 Hampton Inn East Peoria
 p 11 Winners Way, East Peoria, Illinois, 61611
 .row
  .col-sm-12
   .thumbnail.hvr-glow
    a(href='http://hamptoninn3.hilton.com/en/hotels/illinois/hampton-inn-peoria-east-at-the-river-boat-crossing-PIAEAHX/maps-directions/index.html' target='_blank')
     img(id='hampton' src='images/places/hampton.jpg' height='200px')
br
br
p Please book before Saturday, June 18th at 5:00 CST tor receive the following discounted rates for Saturday 7/9:
p $104/night for 2 Queen Beds
p $104/night for 1 King Bed
br
p Call 1-309-694-0711 to book reservations, and remember to mention the Minesinger/Walter Wedding Block to receive the special rate.