.weddingparty.article.panel.panel-default.panel-content(ng-init='init()')
 h1.content-title Wedding Party
 hr
 .row
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/anelise.jpg')
    .caption
     h3 Maid of Honor
     h4 Anelise Imig
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/megan.jpg')
    .caption
     h3 Bridesmaid
     h4 Megan Eastman
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/laura.jpg')
    .caption
     h3 Bridesmaid
     h4 Laura McElheny
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/stephanie2.jpg')
    .caption
     h3 Bridesmaid
     h4 Stephanie Walter
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/lisa2.jpg')
    .caption
     h3 Bridesmaid
     h4 Lisa Walter
 hr
 .row
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/tanner.jpg')
    .caption
     h3 Best Man
     h4 Tanner Ridings
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/mark.jpg')
    .caption
     h3 Groomsman
     h4 Mark Anderson
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/mike2.jpg')
    .caption
     h3 Groomsman
     h4 Mike Higgs
  .col-sm-6.col-md-4
   .thumbnail
    a(target='_blank' href='https://www.facebook.com/zachary.swint?fref=ts')
     img(src='/images/weddingparty/zach2.jpg')
    .caption
     h3 Groomsman
     h4 Zach Swint
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/randy.jpg')
    .caption
     h3 Groomsman
     h4 Randy Eanos
 hr
 .row
  .col-sm-6.col-md-4
   .thumbnail
    img(src='/images/weddingparty/sydney.jpg')
    .caption
     h3 Flower Girl
     h4 Sydney
