//
   Created by Kyle Walter on 1/21/2016.
extends ../layout

block content
    .login.background.in
        .main-content
            .container-fluid
                .row
                    .Absolute-Center.is-Responsive
                        .col-sm-12.col-md-10.col-md-offset-1
                            .panel.panel-default(style='padding:30px;')
                                h1 Sorry
                                h2 This site is currently down for maintenance....
                                button.text-center.btn.btn-default(href='/home') Admin