extends layout

block content
  .jumbotron.background(id='main-jumbo')
    .container-fluid
      .row
        .col-md-3.col-md-offset-1
          .panel.panel-default.section(id='main-menu')
            h1.text-center Katie & Kyle
            h2.text-center(id='menu-date') July 09, 2016
            h2.text-center(id='menu-location') Morton, Illinois
            h2.text-center(id='menu-paragraph')  Paragraph!!
            hr
            ul
              li.h2.menu-link
                a(href='#') Home
              li.h2.menu-link
                a(href='#') Our Story
              li.h2.menu-link
                a(href='#') Wedding Party
              li.h2.menu-link
                a(href='#') The Wedding
              li.h2.menu-link
                a(href='#') Travel and Accommodations
              li.h2.menu-link
                a(href='#') Song Requests
              li.h2.menu-link
                a(href='#') Registry
              li.h2.menu-link
                a(href='#') RSVP
        .col-md-6.col-md-offset-1
          .panel.panel-default(id='main-content')

