extends layout

block content
  .main.background.in
  .background.out
  //nav.navmenu.navmenu-inverted.navmenu-fixed-left.offcanvas(id='mobileNav' role='navigation')
  //  a.navmenu-brand(href='#') Katie & Kyle
  //  ul.nav.navmenu-nav
  //    li
  //      a(href='#' ng-click='getHome()') Home
  //    li
  //      a(href='#' ng-click='getOurStory()') Our Story


  //.navbar.navbar-inverse.navbar-fixed-top.hidden-md.hidden-lg
  //  button.btn.btn-default.navbar-btn.navbar-left(type='button' data-toggle='offcanvas' data-target='#mobileNav' data-canvas='body')
  //    span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
  .main-content
    .container-fluid
      .row
        .col-md-4.hidden-sm.hidden-xs.fixedthing
          .panel.panel-default.section(id='main-menu')
            h1.resizable.text-center Katie & Kyle
            br
            h3.resizable.text-center(id='menu-date') July 09, 2016
            h2.resizable.text-center(id='menu-location') Morton, Illinois
            br
            h4.resizable.text-center(id='menu-paragraph')  welcome to our wedding website!
            hr.resizable-hr
            ul
              li.h2.menu-link
                a.resizable(id='home-link' href='#' ng-click='getHome()') Home
              li.h2.menu-link
                a.resizable(id='out-story-link' href='#' ng-click='getOurStory()') Our Story
              li.h2.menu-link
                a.resizable( id='wedding-party-link' href='#' ng-click='getWeddingParty()') Wedding Party
              li.h2.menu-link
                a.resizable(id='wedding-link' href='#' ng-click='getTheWedding()') The Wedding
              li.h2.menu-link
                a.resizable(id='travel-link' href='#' ng-click='getTravel()') Travel and Accommodations
              li.h2.menu-link
                a.resizable(id='song-link' href='#' ng-click='getSong()') Song Requests
              li.h2.menu-link
                a.resizable(id='registry-link' href='#' ng-click='getRegistry()') Registry
              li.h2.menu-link
                a.resizable(id='rsvp-link' href='#' ng-click='getRSVP()') RSVP
              li.h2.menu-link
                a.resizable(id='contact-link' href='#' ng-click='getContact()') Contact
              - if(admin == true)
                li.h2.menu-link
                  a.resizable(id='admin-link' href='#' ng-click='getAdmin()') Admin Tools
            hr.resizable-hr
            p.resizable.photoCred.text-center Photos courtesy of Meredith Washburn
            p.resizable.photoCred.text-center http://www.meredithwashburn.com


        // Main content ===============================================================
        .col-md-8.col-md-offset-4
          .section(id='main-content' )












  .modal.fade(id='picModal' tabindex='1' role='dialog')
    .modal-dialog
      .modal-content
        .model-body
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          img(id='modalImg')
