extends layout

block content
  .main.background.in
  .background.out
  .main-content
    .container-fluid
      .row
        .col-md-4.hidden-sm.fixedthing
          .panel.panel-default.section(id='main-menu')
            h1.resizable.text-center Katie & Kyle
            br
            h3.resizable.text-center(id='menu-date') July 09, 2016
            h2.resizable.text-center(id='menu-location') Morton, Illinois
            br
            h4.resizable.text-center(id='menu-paragraph')  welcome to our wedding website!
            hr
            ul
              li.h2.menu-link
                a.resizable(id='home-link' href='#' ng-click='getHome()') Home
              li.h2.menu-link
                a.resizable(id='out-story-link' href='#' ng-click='getOurStory()') Our Story
              li.h2.menu-link
                a.resizable( id='wedding-party-link' href='#' ng-click='getWeddingParty()') Wedding Party
              li.h2.menu-link
                a.resizable(id='wedding-link' href='#' ng-click='getTheWedding()') The Wedding
              li.h2.menu-link
                a.resizable(id='travel-link' href='#' ng-click='getTravel()') Travel and Accommodations
              li.h2.menu-link
                a.resizable(id='song-link' href='#' ng-click='getSong()') Song Requests
              li.h2.menu-link
                a.resizable(id='registry-link' href='#' ng-click='getRegistry()') Registry
              li.h2.menu-link
                a.resizable(id='rsvp-link' href='#' ng-click='getRSVP()') RSVP
        .col-md-8.col-md-offset-4
          .panel.panel-default.section(id='main-content' )
            .ourstory.article
              h1 Our Story
              hr
              p Katie and Kyle started "dating" in jr. high on May 26th, 2008 during their 8th Grade trip to Washington D.C.&nbsp;
                img(id='firstPic' src='/images/ourstory/firstPic.JPG' height='200px')
                | Kyle was drawn to Katie's grace and poise when she walked into a sign while talking to him at the airport, and Katie was charmed when Kyle first texted her a poop emoji.
                | Their relationship continued to grow after starting high school. Together they stayed busy excelling in classes, playing sports, and&nbsp;
                img(id='prom' src='/images/ourstory/prom.jpg' height='200px')
                | volunteering. They also enjoyed playing together in orchestra and attending homecomings and proms. In 2012, Kyle and Katie graduated from Morton High School and parted ways as Kyle went to
                | Southern Illinois University in Carbondale, and Katie attended the University of Illinois in Urbana-Champaign. They have&nbsp;
                img(id='grad' src='images/ourstory/grad.JPG' height='200px')
                | maintained their long distance relationship with many skype dates and silly snapchats. In May of 2016, Kyle will graduate with a&nbsp;
                img(id='hiking' src='images/ourstory/hiking.JPG' height='200px')
                | bachelor's in Computer Science, and Katie will graduate with a bachelor's in Food Science and Human Nutrition with a concentration in Dietetics. Kyle plans to start working as a computer programmer,
                | while Katie will continue her education with graduate school and the dietetic internship, working toward becoming a dietitian. In their free time, the couple can be found outside hiking, camping, and
                | fishing, or inside cooking and watching Game of Thrones.
            .weddingparty.article
              h1 Wedding Party
              hr
              .row
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/anelise.jpg')
                    .caption
                      h3 Maid of Honor
                      h4 Anelise Imig
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/megan.jpg')
                    .caption
                      h3 Bridesmaid
                      h4 Megan Eastman
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/laura.jpg')
                    .caption
                      h3 Bridesmaid
                      h4 Laura McElheny
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/stephanie.jpg')
                    .caption
                      h3 Bridesmaid
                      h4 Stephanie Walter
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/lisa.jpg')
                    .caption
                      h3 Bridesmaid
                      h4 Lisa Walter
              hr
              .row
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/tanner.jpg')
                    .caption
                      h3 Best Man
                      h4 Tanner Ridings
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/mark.jpg')
                    .caption
                      h3 Groomsman
                      h4 Mark Anderson
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/mike.jpg')
                    .caption
                      h3 Groomsman
                      h4 Mike Higgs
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/zach.jpg')
                    .caption
                      h3 Groomsman
                      h4 Zach Swint
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/randy.jpg')
                    .caption
                      h3 Groomsman
                      h4 Randy Eanos
              hr
              .row
                .col-sm-6.col-md-4
                  .thumbnail
                    img(src='/images/weddingparty/sydney.jpg')
                    .caption
                      h3 Flower Girl
                      h4 Sydney

            .thewedding.article
              h1 The Wedding
            .travel.article
              h1 Travel and Accommodations
            .songrequest.article
              h1 Song Request
            .registry.article
              h1 Registry
            .rsvp.article
              h1 RSVP

