extends layout

block content
  .jumbotron.background(id='main-jumbo' ng-app='weddingApp')
    .container-fluid(ng-controller="weddingController")
      .row
        .col-md-3.col-md-offset-1
          .panel.panel-default.section(id='main-menu')
            h1.text-center Katie & Kyle
            h2.text-center(id='menu-date') July 09, 2016
            h2.text-center(id='menu-location') Morton, Illinois
            h2.text-center(id='menu-paragraph')  Paragraph!!
            hr
            ul
              li.h2.menu-link
                a(id='home-link' href='#' ng-click='getHome()') Home
              li.h2.menu-link
                a(id='out-story-link' href='#' ng-click='getOurStory()') Our Story
              li.h2.menu-link
                a( id='wedding-party-link' href='#' ng-click='getWeddingParty()') Wedding Party
              li.h2.menu-link
                a(id='wedding-link' href='#') The Wedding
              li.h2.menu-link
                a(id='travel-link' href='#') Travel and Accommodations
              li.h2.menu-link
                a(id='song-link' href='#') Song Requests
              li.h2.menu-link
                a(id='registry-link' href='#') Registry
              li.h2.menu-link
                a(id='rsvp-link' href='#') RSVP
        .col-md-6.col-md-offset-1
          .panel.panel-default.section(id='main-content' )
            .ourstory.article
              h1 Katie and Kyle
            .weddingparty.article
              h1 Wedding Party
            .thewedding.article
            .travel.article
            .songrequest.article

