extends layout

block content
  .main.background.in
  .background.out
  .main-content
    .container-fluid
      .row
        .col-md-4.hidden-sm
          .panel.panel-default.section(id='main-menu')
            h1.resizable.text-center Katie & Kyle
            br
            h3.resizable.text-center(id='menu-date') July 09, 2016
            h2.resizable.text-center(id='menu-location') Morton, Illinois
            br
            h4.resizable.text-center(id='menu-paragraph')  welcome to our wedding website!
            hr
            ul
              li.h2.menu-link
                a.resizable(id='home-link' href='#' ng-click='getHome()') Home
              li.h2.menu-link
                a.resizable(id='out-story-link' href='#' ng-click='getOurStory()') Our Story
              li.h2.menu-link
                a.resizable( id='wedding-party-link' href='#' ng-click='getWeddingParty()') Wedding Party
              li.h2.menu-link
                a.resizable(id='wedding-link' href='#' ng-click='getTheWedding()') The Wedding
              li.h2.menu-link
                a.resizable(id='travel-link' href='#' ng-click='getTravel()') Travel and Accommodations
              li.h2.menu-link
                a.resizable(id='song-link' href='#' ng-click='getSong()') Song Requests
              li.h2.menu-link
                a.resizable(id='registry-link' href='#' ng-click='getRegistry()') Registry
              li.h2.menu-link
                a.resizable(id='rsvp-link' href='#' ng-click='getRSVP()') RSVP
        .col-md-8
          .panel.panel-default.section(id='main-content' )
            .ourstory.article
              h1 Our Story
              hr
              p Katie and Kyle started "dating" in Jr. High on May 26th, 2008 during their 8th Grade trip to Washington D.C.
                img(id='firstPic' src='/images/ourstory/firstPic.JPG' height='200px')
                | Kyle was drawn to Katie's grace and poise when she walked into a sign while talking to him at the airport, and Katie was charmed when Kyle first texted her a poop emoji.
                | Their relationship continued to grow after starting high school. Together they stayed busy excelling in classes, playing sports, and volunteering.
                |
            .weddingparty.article
              h1 Wedding Party
            .thewedding.article
              h1 The Wedding
            .travel.article
              h1 Travel and Accommodations
            .songrequest.article
              h1 Song Request
            .registry.article
              h1 Registry
            .rsvp.article
              h1 RSVP

