extends layout

block content
  .jumbotron.background(id='main-jumbo' ng-app='weddingApp')
    .container-fluid(ng-controller="weddingController")
      .row
        .col-md-3.col-md-offset-1
          .panel.panel-default.section(id='main-menu')
            h1.text-center Katie & Kyle
            h2.text-center(id='menu-date') July 09, 2016
            h2.text-center(id='menu-location') Morton, Illinois
            h2.text-center(id='menu-paragraph')  Paragraph!!
            hr
            ul
              li.h2.menu-link
                a(id='home-link' href='#' ng-click='getHome()') Home
              li.h2.menu-link
                a(id='out-story-link' href='#' ng-click='getOurStory()') Our Story
              li.h2.menu-link
                a( id='wedding-party-link' href='#' ng-click='getWeddingParty()') Wedding Party
              li.h2.menu-link
                a(id='wedding-link' href='#' ng-click='getTheWedding()') The Wedding
              li.h2.menu-link
                a(id='travel-link' href='#' ng-click='getTravel()') Travel and Accommodations
              li.h2.menu-link
                a(id='song-link' href='#' ng-click='getSong()') Song Requests
              li.h2.menu-link
                a(id='registry-link' href='#' ng-click='getRegistry()') Registry
              li.h2.menu-link
                a(id='rsvp-link' href='#' ng-click='getRSVP()') RSVP
        .col-md-6.col-md-offset-1
          .panel.panel-default.section(id='main-content' )
            .ourstory.article
              h1 Our Story
            .weddingparty.article
              h1 Wedding Party
            .thewedding.article
              h1 The Wedding
            .travel.article
              h1 Travel and Accommodations
            .songrequest.article
              h1 Song Request
            .registry.article
              h1 Registry
            .rsvp.article
              h1 RSVP

