doctype html
html(ng-app='weddingApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css")
  body(ng-controller="weddingController")
    block content

    // Libraries
    script(src="/libs/jquery/jquery-2.1.4.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="/libs/flowtype/flowtype.js")
    script(src="/libs/countdown/countdown.js")

    //  My Scripts

    script(src="/javascripts/weddingApp.js")