doctype html
html(ng-app='weddingApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="weddingController")
    block content

    // Libraries
    script(src="/libs/jquery/jquery-2.1.4.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")

    //  My Scripts

    script(src="/javascripts/weddingApp.js")