doctype html
html(ng-app='weddingApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    base(href='/')
  body.bg(ng-controller='mainController')
    block content


    // Libraries
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js")
    script(src="/bower_components/jquery.countdown/dist/jquery.countdown.min.js")

    // Angular App
    script(src="/javascripts/angular/weddingApp.js")


    // Angular Controllers
    script(src="/javascripts/angular/controllers/homeController.js")
    script(src="/javascripts/angular/controllers/ourstoryController.js")
    script(src="/javascripts/angular/controllers/weddingpartyController.js")
    script(src="/javascripts/angular/controllers/weddingController.js")
    script(src="/javascripts/angular/controllers/travelController.js")
    script(src="/javascripts/angular/controllers/songRequestController.js")
    script(src="/javascripts/angular/controllers/registryController.js")
    script(src="/javascripts/angular/controllers/rsvpController.js")
    script(src="/javascripts/angular/controllers/contactController.js")
    script(src="/javascripts/angular/controllers/adminController.js")

    //Images Preload
    img(src='/images/Kyle_Katie_Engagement-78.jpg' width='1' height='1' alt='img1')
    img(src='/images/Kyle_Katie_Engagement-46.jpg' width='1' height='1' alt='img1')
    img(src='/images/Kyle_Katie_Engagement-90.jpg' width='1' height='1' alt='img1')
    img(src='/images/Kyle_Katie_Engagement-168.jpg' width='1' height='1' alt='img1')
    img(src='/images/Kyle_Katie_Engagement-31.jpg' width='1' height='1' alt='img1')
    img(src='/images/Kyle_Katie_Engagement-151.jpg' width='1' height='1' alt='img1')
    img(src='/images/Kyle_Katie_Engagement-138.jpg' width='1' height='1' alt='img1')
    img(src='/images/Kyle_Katie_Engagement-53.jpg' width='1' height='1' alt='img1')
    img(src='/images/Kyle_Katie_Engagement-53.jpg' width='1' height='1' alt='img1')