doctype html
html(ng-app='weddingApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="weddingController")
    block content

    // Libraries
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/jasny-bootstrap/jasny-bootstrap.min.js")
    script(src="/bower_components/countdown/dest/countdown.min.js")

    //  My Scripts
    script(src="/javascripts/weddingApp.js")