extends layout

block content

    .jumbotron.background(id='login-jumbo')
        .container-fluid
            .row
                .Absolute-Center.is-Responsive
                    .col-sm-12.col-md-10.col-md-offset-1
                        form(action='/login' method='post' id='login_form')
                            .panel.panel-default
                                .panel-body
                                    h1= title
                                    - if(message.length > 0)
                                        .alert.alert-danger= message
                                    .form-group.hidden
                                        label Username
                                        input.form-control(type='text' name='username' value='1')
                                    .form-group
                                        label Password
                                        input.form-control(type='password' name='password')
                                    button.btn.btn-success(type='submit') Login


