@font-face
{
  font-family: scribble;
  src: url('/fonts/scribble/Scribble.ttf');
}
@font-face
{
  font-family: my-otto;
  src: url('/fonts/otto/Otto/Otto.ttf');
}
@font-face
{
  font-family: my-byron;
  src: url('/fonts/byron/Byron.ttf');
}
@font-face
{
  font-family: KGChasingCars;
  src: url('/fonts/KGChasingCars/KGChasingCars.ttf');
}
@font-face
{
  font-family: hbsketch;
  src: url('/fonts/h-b-sketch-demo/HB Sketch Demo.otf');
}
@font-face
{
  font-family: without-sun;
  src: url('/fonts/a-day-without-sun/A DAY WITHOUT SUN.otf');
}
@font-face
{
  font-family: typo;
  src: url('/fonts/typo-sketch-demo/TYPE SKETCH_DEMO.otf');
}
@font-face
{
  font-family: league;
  src: url('/fonts/league-script/LeagueScript.ttf');
}