#main-content {
  border: none;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8);
  h1 {
    font-family: hbsketch;
    margin-left:50px;

  }

  p{
    font-family: without-sun;
    font-weight: 800;
    font-size: 35px;
    text-align: justify;
  }

  img{
    margin: 0 20px 20px 0px;
    &#firstPic{
      float: right;
      margin-left:20px;
      border-radius: 20px;
    }
  }


  .article{
    padding: 30px;
  }

}