@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/jasny-bootstrap/less/jasny-bootstrap.less";
@import "../../bower_components/hover/less/hover.less";


@color-gray:            #4e4e4e;
@color-lightgray:       #929292;
@color-darkgray:        #383838;
@color-white:           #FFFFFF;
@color-fuchsia:         rgba(145, 52, 91, 1);
@color-fuchsia-tran:    rgba(156, 48, 108, 0.49);
@color-teal:            #099aa0;
@color-gold:            #cdb500;

@brand-primary:         @color-fuchsia;
@brand-success:         @color-teal;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@input-border-focus:    @brand-primary;
@input-bg:              @color-gray;
@input-border:          @color-lightgray;
@input-color:           @color-white;

@import "fonts.less";
@import "pages.less";
@import "special.less";
@import "colors.less";
@import "background.less";
@import "animate.less";

.main-content{
  //display:none;
  padding:20px;
}

.article{
  //display: none;
}

.fixed{
  position:fixed;
}

.vertical-center {
  min-height: 90%;
  min-height:90vh;
  display: flex;
  align-items: center;
}

.panel {
  border: none;
  background: rgb(255, 255, 255);
  background: rgba(203, 203, 203, 0.4);
}

.main-menu{
  border: none;
  background: rgb(255, 255, 255);
  background: rgba(203, 203, 203, 0.4);
  color: #099aa0;
  position: static;
  h1{
    font-family: KGChasingCars;
  }
  #menu-date{
    font-family: hbsketch;
  }
  #menu-location{
    font-family: without-sun;
    font-size: 50px;
  }
  #menu-paragraph{
    font-family:league;
    font-size: 30px;
    font-weight: bold;
  }
  li {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
  }
  a {
    color: rgba(145, 52, 91, 1);
    font-family:without-sun;
    font-size: 50px;
    font-weight:bold;
    margin: 5px 0px 5px 0px;
  }
  a:hover{
    text-decoration: none;
    margin-left:6px;
    color: rgba(156, 48, 108, 0.49);
    -webkit-transition: margin-left 2s;
  }
  a:active{
    color: rgba(156, 48, 108, 0.49);
    font-family:without-sun;
    font-size: 50px;
    font-weight:bold;
    text-decoration: none;
  }
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.form-control::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #4e4e4e;
}

:-moz-placeholder { /* Firefox 18- */
  color: #4e4e4e;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #4e4e4e;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #4e4e4e;
}

::-ms-input-placeholder { /* Edge */
  color: #4e4e4e;
}

hr{
  border: 0;
  border-bottom: 1px dashed #858585;

  margin-left:20px;
  margin-right:20px;
}

.photoCred{
  font-family: without-sun;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
}

.modal-content{
  background-color: #555555;
  padding:20px;
  img{
    max-width:100%;
    height: 500px;
    display:block;
    margin:auto;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
  }
}


.preload-01 {
  background: url("/images/Kyle_Katie_Engagement-78.jpg") no-repeat -9999px -9999px;
}
.preload-02 {
  background: url("/images/Kyle_Katie_Engagement-46.jpg") no-repeat -9999px -9999px;
}
.preload-03 {
  background: url("/images/Kyle_Katie_Engagement-90.jpg") no-repeat -9999px -9999px;
}






